---
export interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
const baseClasses = 'flex items-center p-6 pt-0'
const classes = `${baseClasses} ${className}`
---

<div class={classes}>
  <slot />
</div>
